<%= form_for(@recipe) do |f| %>

<% if @recipe.errors.any? %>
<div id="error_explanation">
    <p style="color:red;">
      <%= pluralize(@recipe.errors.count, "error") %>
      prohibited this ingredient from being saved:
    <% @recipe.errors.full_messages.each do |msg| %>
    <li style="color:red;"><strong><%= msg %></strong><br><br>
    Please enter another title.</li>
    <% end %>
  </div>
<% end %>

    <div class="field_with_errors">
        <%= f.label :title %>:
        <%= f.text_field :title %>
    </div><br>

    <div class="field_with_errors">
        <%= f.label :meal  %>(e.g. breakfast, lunch, dinner, dessert, snack): 
        <%= f.text_field :meal %>
    </div><br>
       <%= f.label :ingredients %><br>
      <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
      </div><br>

      
    <div class="field">
          <%=f.fields_for :recipe_ingredients do |i| %>
          <%= i.label :name  %> of Ingredient:
          <%= i.text_field :name %><br>
        
          <%= i.label :quantity %> of Ingredient:
          <%= i.text_field :quantity %><br><br>
   <%end%>


  <div class="actions"><br>
      <%= f.submit %>
  </div>

<% end %>