<%=render partial: "layouts/navbar" %>


<h2> Recipes Home</h2>
<ul>
<% @recipes.each do |recipe| %>
<li>
    <%= link_to recipe.title, recipe_path(recipe) %>
    </li>
<%end%>

<br>

<%=link_to "Add a New Recipe", new_recipe_path %><br>
<%= link_to "See my Recipes", user_path(current_user) %><br>
<br>
<%= link_to "Click here for all Ingredients in Alphabetical Order", alphabetical_path %>

<br><br><br><br>

<%=link_to "Click here for all Cheesy Recipes", cheese_path %>


