<%=render partial: "layouts/navbar" %>


<h2> Recipes Home</h2>

<% @recipes.each do |recipe| %>
<li>
  <%= link_to recipe.title, recipe_path(recipe)%>

  <button class="js-more" data-id="<%=recipe.id%>">More Info</button>

  <ul id="recipe<%= recipe.id%>">
  </ul>
  </li>

<%end%>

<br>

<%=link_to "Add a New Recipe", new_recipe_path %><br>
<%= link_to "See my Recipes", user_path(current_user) %><br>
<br>
<%= link_to "Click here for all Ingredients in Alphabetical Order", alphabetical_path %>

<br><br><br><br>

<%=link_to "Click here for all dinner Recipes", scope_path %>



<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/recipes/" + id + ".json", function(data) {
      var recipe = data;
      for(let i = 0; i < data.ingredients.length; i++) {
        var ingredientText = "<li>" + data.ingredients[i].name + "</li>"
        $("#recipe" + id).append(ingredientText)
      };
    })
    })
  })


</script>
