   <% if notice %>
     <p> <%= notice %></p>
   <%end%>
   <div class= "show">

<h3 class="recipeTitle"><strong>Recipe Title:</strong> <%= @recipe.title %> </h3>
 <h4 class="recipeMeal">Meal: <%= @recipe.meal.capitalize %></h4>

<p><strong>Ingredients:</strong></p>
    <ul class="js-ingredient">
      <% @recipe.recipe_ingredients.each do |r_i| %>
          <li><%=link_to r_i.ingredient.name, recipe_ingredient_path(@recipe, r_i.ingredient) %><br>
                  Quantity: <%= r_i.quantity %></li>
<br>

<%end%>

<p><strong>This recipe was added by:</strong> <%= @recipe.user.email %></p>


<h3> All Comments: </h3>
<ul class="comments">
  <% @recipe.comments.each do |comment| %>
  <li><%= comment.text %></li>
    written by: <%= comment.user.email %><br><br>
  <%end%>
</ul>



  <%= form_for([@recipe, @comment]) do |f|  %>
  <strong><%= f.label :text, "Add a Comment below:" %></strong><br>
  <%= f.text_area :text %>
  <p> <%= f.submit %></p>
  <%end%>

<%= link_to "Back to Recipes Home", recipes_path %>

 <br></br>
  <% if @recipe.user_id == current_user.id %>
    <%=button_to "Remove", recipe_path(@recipe), :method => "delete" %></li>
    <%=link_to "Edit this Recipe", edit_recipe_path %>
     <p><a href="/recipes/<%= @recipe.id %>/ingredients/new" class="btn btn-primary">Create your own Ingredient for this Recipe</a></p>
    <%end%>
  </div>
