<% if notice %>
<p> <%= notice %></p>
<%end%>
<%= render partial: "recipe" %> 


 <br></br>
 
  <% if @recipe.user_id == current_user.id %>
  <p><a href="/recipes/<%= @recipe.id %>/ingredients/new" class="btn btn-primary"> Add a new Ingredient</a></p>
    <form method="POST" action="/recipes/<%=@recipe.id%>">
         <input id="hidden" type="hidden" name="_method" value="DELETE">
         <input type="submit" value="Delete this Recipe"><br>
         
         <%=link_to "Edit this Recipe", edit_recipe_path %>
    <%end%>
