<%=render partial: "layouts/navbar" %>
<% if notice %>
<p> <%= notice %></p>
<%end%>
<h3><strong>Recipe Title:</strong> <%= @recipe.title %> </h3>
<h4>Meal: <%= @recipe.meal %></h4>
<p><strong>Ingredients:</strong></p>
 <% @recipe.recipe_ingredients.each do |r_i| %>
<li><%=link_to r_i.ingredient.name, recipe_ingredient_path(@recipe, r_i.ingredient) %>
<%= r_i.quantity %>

</li><br>

<%end%>

<p>Added by: <%= @recipe.user.email %></p>
<%= link_to "Back to Recipes Home", recipes_path %>

 <br></br>
  <% if @recipe.user_id == current_user.id %>
    <%=button_to "Remove", recipe_path(@recipe), :method => "delete" %></li>
    <%=link_to "Edit this Recipe", edit_recipe_path %>
     <!--<p><a href="/recipes/(add front) @recipe.id %>/ingredients/new" class="btn btn-primary">Create your own Ingredient for this Recipe</a></p>-->
    <%end%>

