   <% if notice %>
     <p> <%= notice %></p>
   <%end%>

<h3 class="recipeTitle"><strong>Recipe Title:</strong> <%= @recipe.title %> </h3>
 <h4 class="recipeMeal">Meal: <%= @recipe.meal.capitalize %></h4>

<p><strong>Ingredients:</strong></p>
  <li class="js-ingredient">
    <% @recipe.recipe_ingredients.each do |r_i| %>
    <%=link_to r_i.ingredient.name, recipe_ingredient_path(@recipe, r_i.ingredient) %><br>
    Quantity: <%= r_i.quantity %>
</li><br>

<%end%>

<p>Added by: <%= @recipe.user.email %></p>
<%= link_to "Back to Recipes Home", recipes_path %>

<h3> All Comments: </h3>
<% @recipe.comments.each do |comment| %>
<ul>
<li class="recipeComment"><%=link_to comment.text, recipe_comment_path(@recipe.id, comment.id) %></li>
<p>written by <%=comment.user.email %></p>
</ul>
<%end%>


  <%= form_for(@comment, :url => recipe_comments_path(@recipe)) do |f|  %>
  <%= f.text_area :text %>
  <p> <%= f.submit %></p>
  <%end%>



<!-- <p><a href="/recipes/<%= @recipe.id %>/comments/new"> Add a Comment </p> -->



 <br></br>
  <% if @recipe.user_id == current_user.id %>
    <%=button_to "Remove", recipe_path(@recipe), :method => "delete" %></li>
    <%=link_to "Edit this Recipe", edit_recipe_path %>
     <p><a href="/recipes/<%= @recipe.id %>/ingredients/new" class="btn btn-primary">Create your own Ingredient for this Recipe</a></p>
    <%end%>

  <!-- <script type="text/javascript" charset="utf-8">
  $(function() {

    $(".js-next").on("click", function(data) {
      var nextId = parseInt($(".js-next").attr("data-id")) + 1;
      $.get("/recipes/" + nextId + ".json", function(data) {
        var recipe = data;
        var id = recipe.id;
      $(".recipeTitle").text(recipe["title"])
      $(".recipeMeal").text(recipe["meal"])

      $(".js-next").attr("data-id", recipe["id"]);

      })
    })
  })
</script> -->
