<%=render partial: "layouts/navbar" %>
<p>Ingredient: <%=@ingredient.name%> </p>
<%= link_to "Back to Recipes", recipes_path %><br>

<h3> Other Recipes that feature this ingredient: </h3>
<% @ingredient.recipes.each do |recipe| %>
<li><%= link_to recipe.title, recipe_path(recipe) %></li>
<%end%>
 <br></br>
 
 <h1>Here is a list of all the ingredients in alphabetical order! </h1>
<h2> <%= @ingredients.alphabetical %></h2>

 <%if (current_user.recipes & @ingredient.recipes).any?%>
 <%=link_to "Edit this Ingredient", edit_recipe_ingredient_path %>
 <form method="POST" action="/ingredients/<%=@ingredient.id%>/delete">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete this Ingredient">

<%end%>
 
 
