<%=render partial: "layouts/navbar" %>
<p>Ingredient: <%=@ingredient.name%> </p>
<%= link_to "Back to Recipes Home", recipes_path %><br>

<h3> Recipes that feature this ingredient </h3>
<% @ingredient.recipes.each do |recipe| %>
<li><%= link_to recipe.title, recipe_path(recipe) %></li>
<%end%>
 <br></br>
 
 <%if (current_user.recipes & @ingredient.recipes).any?%>
 <%=link_to "Edit this Ingredient", edit_recipe_ingredient_path %>

<%end%>
 
 
