
<style>
p.groove {border-style: groove;}
</style>
<body>


<p class="groove">


<% if signed_in? %>

Signed in as <%= current_user.email %> &nbsp;
 <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>&nbsp;&nbsp;
 &nbsp;<%= link_to "Recipes Home", recipes_path %>
 &nbsp;<%= link_to "Ingredients List", ingredients_path, class: "all_ingredients" %>
  &nbsp; &nbsp;<%= link_to "See my Recipes", user_path(current_user)%>
 <%end%>
 </p>
 </body>
