<!DOCTYPE html>
<html>
  <head>
    <title>MyRecipeJournal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

   <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
  <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
  <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>

  <body>
    <div class="container">
      <%=render partial: "layouts/navbar" %>
      <div id="app-container">
    <%= yield %>
  </div>
  </div>
  </body>
</html>
